<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por:

MICHEL MASSANET GINARD
MANUEL IGLESIAS DEL CAMPO
</p>

Foto sólo de Michel
<img src="/images/MichelFuerte.jpg" />

La práctica se alojará en:<a href=" https://github.com/michelmassanet/quiz_2017">https://github.com/michelmassanet/quiz-2017</a>



