<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

</head>
<body>
<h1> Ayuda </h1>
<p>
Quiz es una Red social para crear adivinanzas (quiz) que
permite múltiples usuarios compartiendo adivinanzas. Como finalidad tiene mostrar:
- Arquitectura de una aplicación Web del lado servidor
- Metodologías de desarrollo
- Los elementos más importantes de un portal Web
Está desplegado en Heroku y se gestiona con Git y con GitHub

</p>
</body>
</html>



